<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diucity.dingding">

    <!-- Zxing -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/No">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".recevier.NetworkRecevier">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!--
         //rxgalleryfinal
         <provider
             android:name="android.support.v4.content.FileProvider"
             android:authorities="com.diucity.dingding.fileprovider"
             android:exported="false"
             android:grantUriPermissions="true">
             <meta-data
                 android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/filepaths" />
         </provider>
        -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PINActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Forget2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SystemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />


    </application>

</manifest>